    <header>
        <div class="top">
            <%= image_tag("profile.jpg", :id => "icon")%>
            <span id="myname">本多　葵</span>
        </div>
    </header>
    <div class="container">
        <h2>自己紹介</h2>
        <div class="profile">
            <p>プログラミング勉強中</p>
            <p>1999年8月10日生まれ</p>
            <p>日本大学生産工学部電気電子工学科</p>
        </div>
    </div>
    <footer>
        <p>&copy; Aoi Honda</p>
    </footer>


